.navbar{
    height:60px;
    background-color: steelblue;
}
.side-bar{
    height: 90vh;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(224,221,224,1);
-moz-box-shadow: 2px 2px 5px 0px rgba(224,221,224,1);
box-shadow: 2px 2px 5px 0px rgba(224,221,224,1);
}

.text-sm{
    font-size: 12px;
}
.text-base{
    font-size: 14px;
}
.text-lg{
    font-size: 16px;
}

.coach-img{
    height: 120px;
    width: 120px;
}
.activity-img{
    height: 150px;
    width: 150px;
}